// upload buildspec.yml
resource "aws_s3_bucket_object" "upload_buildspec" {
	bucket = "${aws_s3_bucket.kakoi-bucket.id}"
	key = "{{ .Name }}/buildspec.yml"
	source = "{{ .Path }}"
}

// upload packer image_builder.json
resource "aws_s3_bucket_object" "upload_packer_image_builder" {
	bucket = "${aws_s3_bucket.kakoi-bucket.id}"
	key = "{{ .Name }}/image_builder.json"
	source = "{{ .Path }}"
}