// cp buildspec and scripts
resource "aws_s3_bucket_object" "upload_buildspec-{{ .Name }}" {
	for_each = fileset("{{ .BuildSpecPath }}/{{ .Name }}/", "*")
	bucket = "${aws_s3_bucket.kakoi-bucket.id}"
	key = "{{ .Name }}/${each.value}"
	source = "{{ .BuildSpecPath }}/{{ .Name }}/${each.value}" // images folder
}

// cp scripts
resource "aws_s3_bucket_object" "upload_build_scripts-{{ .Name }}" {
	for_each = fileset("{{ .ScriptsBase }}/", "*.sh")
	bucket = "${aws_s3_bucket.kakoi-bucket.id}"
	key = "{{ .Name }}/${each.value}"
	source = "{{ .ScriptsBase }}/${each.value}"
}

// build vm image
resource "aws_codebuild_project" "kakoi-{{ .Name }}-codebuild" {
	name = "kakoi-{{ .Name }}"
	description = "kakoi instance image builder for {{ .Name }}"
	build_timeout = "60"
	service_role = aws_iam_role.kakoi-image-builder.arn
	artifacts {
        type = "NO_ARTIFACTS"
    }

    source {
    	type = "S3"
    	location = "${aws_s3_bucket.kakoi-bucket.id}/{{ .Name }}/"
    }

    environment {
    	compute_type = "BUILD_GENERAL1_SMALL"
    	image = "aws/codebuild/standard:2.0"
    	type = "LINUX_CONTAINER"
    }

    logs_config {
        cloudwatch_logs {
          group_name  = "kakoi"
          stream_name = "kakoi-{{ .Name }}-build"
        }
	}
}
